<table id="welctab">
	<tr>
		<% if session[:user_id]==nil %>
			<td id="welcol1">Para ver los proyectos<br/> debe estar loggeado<br/><%= link_to "Click to Login", login_url %></td>
		<% end %>
		<td id="welcol2"><%= image_tag('powerlinesedited.jpg', size:"900x473") %></td>
	</tr>
</table>