// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#welctab {
	margin: 0;
	padding: 0;
	width: 100%;
}

#welcol1 {
	width: 20%;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	color: white;
}

#welcol1 a {
	font-size: 25px;
	color: white;	
}

#welcol2 {
	width: 80%;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	padding: 30px;
}